usonic
[
    {
        "id": "8a94a55ba83c1781",
        "type": "tab",
        "label": "IEEE - ESP8266 US",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38407a132a207205",
        "type": "mqtt in",
        "z": "8a94a55ba83c1781",
        "name": "Distance MQTT",
        "topic": "sensor/distance",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "4d6606e5d2c874c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "1046ca4932623544",
                "14bb4d92d1980795",
                "617a91b786b71cb9",
                "4c0469d71b95d296"
            ]
        ]
    },
    {
        "id": "1046ca4932623544",
        "type": "debug",
        "z": "8a94a55ba83c1781",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "14bb4d92d1980795",
        "type": "ui_gauge",
        "z": "8a94a55ba83c1781",
        "name": "",
        "group": "95be93c681cb6464",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distance",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "className": "",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "617a91b786b71cb9",
        "type": "function",
        "z": "8a94a55ba83c1781",
        "name": "Date/Time",
        "func": "var readCurrent = new Date().getTime();\nmsg.payload = readCurrent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "13dcb13408612b37"
            ]
        ]
    },
    {
        "id": "13dcb13408612b37",
        "type": "moment",
        "z": "8a94a55ba83c1781",
        "name": "distance data",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Kuala_Lumpur",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD MMM YYYY HH:mm:ss",
        "locale": "\"POSIX\"",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Kuala_Lumpur",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "0743b951f243182d"
            ]
        ]
    },
    {
        "id": "0743b951f243182d",
        "type": "ui_text",
        "z": "8a94a55ba83c1781",
        "group": "95be93c681cb6464",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Updated : ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "4c0469d71b95d296",
        "type": "ui_chart",
        "z": "8a94a55ba83c1781",
        "name": "",
        "group": "95be93c681cb6464",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4d6606e5d2c874c8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "174.138.28.115",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "95be93c681cb6464",
        "type": "ui_group",
        "name": "HC",
        "tab": "be1d3bcff6f28c44",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "be1d3bcff6f28c44",
        "type": "ui_tab",
        "name": "IEEE",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
